# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/FIEA

/exts/makra.omniverse.shakespeare.project/makra/omniverse/shakespeare/project/gemini/gemini.env
/exts/makra.omniverse.shakespeare.project/makra/omniverse/shakespeare/project/convai/convai.env
/exts/makra.omniverse.shakespeare.project/makra/omniverse/shakespeare/project/gemini/config.json
