# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/FIEA

/exts/makra.omniverse.shakespeare.project/makra/omniverse/shakespeare/project/keys.py
