# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs



/FIEA

/app/src/gemini/gemini.env
/app/src/convai/convai.env
/app/src/gemini/config.json
/app/src/dist
/app/src/build
/app/src/main.spec
/omni/shakespeare-ai/exts/shakespeare.ai/shakespeare/ai/convai/convai.env
/omni/shakespeare-ai/exts/shakespeare.ai/shakespeare/ai/gemini/gemini.env
*.env
