# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/omni/shakespeare-ai/exts/shakespeare.ai/shakespeare/ai/convai/convai.env
/omni/shakespeare-ai/exts/shakespeare.ai/shakespeare/ai/gemini/gemini.env